@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.input {
  width: 30%;
  height: 70px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 20px;
}
.button {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.police {
  font-size: 30px;
}
.container {
  display: flex;
  justify-content: space-between; /* Pour aligner les éléments avec un espace égal entre eux */
  width: 50%; /* Ajustez la largeur en fonction de vos besoins */
  margin: 0 auto; /* Pour centrer les boutons horizontalement */
}

.button2 {
  flex-grow: 1; /* Pour que les boutons prennent le même espace disponible */
  margin: 5px; /* Espacement entre les boutons */
}

.scoreStyle {
    background-Color: #4CAF50;
    padding: 20px;
    border-radius: 5px;
    box-Shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-Align: center;
    Width: 300px;
    margin: 0 auto;
}

.answer-option {
  background-color: blue;
  color: white;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.answer-option input {
  display: none;
}

.answer-option label {
  width: 100%;
  height: 100%;
}

.answer-option input:checked + label {
  background-color: darkblue;
}

.answer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
